* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
}

/* <----------------------------- header ------------------------------> */
header {
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #808080;
  background-color: #ffffff;
}

header > .gnb {
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

header > .gnb > .navigation > a {
  border-radius: 8px;
  margin-left: 10px;
  font-weight: bold;
  padding: 5px;
}

header > .gnb > .navigation > #login {
  background-color: #fbd1b2;
}

header > .gnb > .navigation > #signup {
  color: #fff;
  background-color: #f26a08;
}
