* {
    margin: 0;
    padding: 0;
  }

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
  
  html,
  body {
    height: 100%;
    font-family: 'Pretendard-Regular';
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  ul{
    list-style: none;
  }


  
  img {
    vertical-align: middle;
  }
  header {
    font-family: 'Pretendard-Regular';
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #808080;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header > .gnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    width: 100%;
  }
  
  header > .gnb > .navigation > a {
    border-radius: 8px;
    margin-left: 10px;
    font-weight: bold;
    padding: 5px;
  }
  
  header > .gnb > .navigation > #login {
    background-color: #fbd1b2;
  }
  
  header > .gnb > .navigation > #signup {
    color: #fff;
    background-color: #f26a08;
}

/* main */

aside{
  font-family: 'Pretendard-Regular';
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
  width: 15vw;
  height: 60vw;
}
.aside_nav ul li {
  padding: 0 30px;
  height: 60px;
  text-align: left;
  line-height: 60px;
  font-weight: bold;
  font-size: 24px;
}

.aside_nav_button{
    margin: 10px 30px;
    height: 55px;
    background-color: #f26a08;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 55px;
}
.menu_main {
  color: #f26a08;
}
.aside_nav ul li:hover:not(.menu_main) {
  background-color: #f26a08;
  color: #fff;
}
main{
  display: flex;
}
article{
  padding-top: 30px;
  width: 85vw; 
}
.main_page_1{
  font-family: 'Pretendard-Regular';
  font-size: 28px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/main_img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1400px;
  height: 430px;
  border-radius: 20px;
  padding: 20px;
}
.main_go_button{
  margin-top: 260px;
  color: #f26a08;
}
.main_page_2{
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  border-radius: 20px;
  padding: 85px;

}
.main_page_2_layout{
  display: flex;
  justify-content: space-between;
}
.main_page_2_layout>div>h2{
  margin-top: 20px;
}

.video{
  width: 700px;
  height: 370px;
  background-color: rgb(212, 212, 212);
  border-radius: 12px;
}


  


