* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}

img {
  vertical-align: middle;
}
header {
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #808080;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .gnb {
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  width: 100%;
}

header > .gnb > .navigation > a {
  border-radius: 8px;
  margin-left: 10px;
  font-weight: bold;
  padding: 5px;
}

header > .gnb > .navigation > #login {
  background-color: #fbd1b2;
}

header > .gnb > .navigation > #signup {
  color: #fff;
  background-color: #f26a08;
}

/* main */

aside{
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
  width: 15vw;
  height: 60vw;
}
.aside_nav ul li {
padding: 0 30px;
height: 60px;
text-align: left;
line-height: 60px;
font-weight: bold;
font-size: 24px;
}

.aside_nav_button{
  margin: 10px 30px;
  height: 55px;
  background-color: #f26a08;
  color: white;
  font-size: 24px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 55px;
}

.menu_main {
  color: #f26a08;
}
.aside_nav ul li:hover:not(.menu_main) {
  background-color: #f26a08;
  color: #fff;
}

.main_split{
  display: flex;
}
main{
  padding: 20px;
  width: 85vw;
}
h4{
  font-size: 28px;
  margin-top: 40px;
}
.video{
  width: 1100px;
  padding: 250px;
  background-color: #808080;
  border-radius: 20px;
  margin-top: 40px;
  text-align: center;
}


