* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  ul{
    list-style: none;
  }
  
  img {
    vertical-align: middle;
  }
  header {
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #808080;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header > .gnb {
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    width: 100%;
  }
  
  header > .gnb > .navigation > a {
    border-radius: 8px;
    margin-left: 10px;
    font-weight: bold;
    padding: 5px;
  }
  
  header > .gnb > .navigation > #login {
    background-color: #fbd1b2;
  }
  
  header > .gnb > .navigation > #signup {
    color: #fff;
    background-color: #f26a08;
}

/* main */
p{
    font-size: 82px;
    color: white;
    font-weight: bold;
}
main{
    background-image: url(https://blog.kakaocdn.net/dn/92XvM/btqCsHp3z9C/v68mcM2II4Z0dD8KNz9LCk/img.jpg);
    background-size: cover;
    height: 54.9em;
}
.main_text{
    padding:200px 300px ;
}
.main_text>p:nth-child(3){
    font-size: 82px;
    color: #f26a08;
    padding-top: 120px;
    letter-spacing: -0.01em;
}